{% macro create_card(buildings) %}

<div class="accordion" id="accordion_card_building">
    {% for b in buildings %}
        <div class="card shadow-sm">

            <!-- Head of card -->
            <div class="card-header shadow" id="{{ buildings[b]['name'] }}_head">
                <a class="" data-toggle="collapse" href="#{{ buildings[b]['name'] }}_collapse" aria-expanded="false">

                    <!-- Name and level of building -->
                    <span class="lead pr-2" style="font-size: 2rem;">
                        <strong>{{ buildings[b]['name'] }}</strong>
                    </span>
                    <span class="float-right lead mb-0 py-2">
                        Poziom: <strong>{{ buildings[b]['level'] }}</strong>
                    </span>

                </a>
            </div>

            <!-- Hidden body of card -->
            <div class="collapse" id="{{ buildings[b]['name'] }}_collapse">
                <div class="card-body">
                    
                    <!-- Description -->
                    <div class="container mb-4">
                        <h5 class="card-title">Opis:</h5>
                        <p class="card-text text-break">{{ buildings[b]['description'] }}</p>
                    </div>

                    <!-- Cost, conditions and production -->
                    <div class="container row no-gutters text-center mb-4">

                        <!-- Cost -->
                        <div class="col">
                            <h5 class="card-title">Koszt budowy:</h5>
                            {% for key in buildings[b]['build_cost'] %}
                                <li class="card-text">
                                    <strong>{{ key.capitalize() }}:</strong>
                                    {{ buildings[b]['build_cost'][key] }}
                                </li>
                            {% endfor %}
                        </div>

                        <!-- Conditions -->
                        <div class="col">
                            <h5 class="card-title">Wymagnia:</h5>
                            {% for key in buildings[b]['build_conditions'] %}
                                <li class="card-text">
                                    <strong>{{ key.capitalize() }}:</strong>
                                    {{ buildings[b]['build_conditions'][key] }}
                                </li>
                            {% endfor %}
                        </div>

                        <!-- Production -->
                        <div class="col">
                            <h5 class="card-title">Produkcja:</h5>
                            {% for key in buildings[b]['production'] %}
                                <li class="card-text">
                                    <strong>{{ key.capitalize() }}:</strong>
                                    {% if 0 > buildings[b]['production'][key] %}
                                        <span class="text-danger">{{ buildings[b]['production'][key] }}</span>
                                    {% else %}
                                        <span class="text-success">+{{ buildings[b]['production'][key] }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </div>

                    </div>

                    <!-- Build -->
                    <div class="container row no-gutters">

                        <!-- Time of build -->
                        <div class="col">
                            <strong>Czas budowy:</strong>
                            <span class="lead align-middle">{{ buildings[b]['build_time'] }}</span>
                        </div>
                        
                        <!-- Build button -->
                        <div class="col shadow-sm">
                            {% if buildings[b]['build_allow'] %}
                                <form method="POST">
                                    <input name="build" value="{{ buildings[b]['image'][: buildings[b]['image'].rfind('.')] }}" hidden>
                                    <button type="submit" class="btn btn-block btn-primary">
                                        {% if buildings[b]['level'] > 1 %}  Rozbuduj
                                        {% else %}                          Buduj
                                        {% endif %}
                                    </button>
                                </form>
                            {% else %}
                                <button type="submit" class="btn btn-block btn-outline-danger" disabled>
                                    Nie spełniono wymagań
                                </button>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endmacro %}