{% macro create_message(rapports) %}

<div class="accordion" id="accordion_card_message"></div>
    {% for datetime in rapports %}
        {% set id = datetime[11:].replace(':', '') %}
        {% set id = id.replace('.', '') %}

        <div class="card-group">
            <h5 class="card card-header bg-{{ rapports[datetime][0] }}-transparent" style="max-width: 192px;">
                {{ datetime[:-7] }} 
            </h5>

            <div class="card">
                <div class="card-header">
                    <a onclick="collapse_toggle('{{ id }}_collapse')" role="button" class="btn-block text-decoration-none">
                        {% if rapports[datetime][0] == 'info' %}
                            Raport z produkcji
                        {% endif %}
                    </a>
                </div>

                <div class="collapse" id="{{ id }}_collapse">
                    <ul class="card-body py-0">
                        {% for key in rapports[datetime][1] %}
                            <li>{{ key.capitalize() }}: {{ rapports[datetime][1][key] | round(1) }}</li>
                        {% endfor%}
                    </ul>
                </div>
                
            </div>
        </div>

    {% endfor %}
</div>

{% endmacro %}