{% macro create_card_lite(buildings) %}

{% for b in buildings %}
    <div class="card-group">
            
        <!-- Image of building -->
        <div class="card bg-secondary-transparent" style="max-width: 64px;">
            <img src="/static/img/{{buildings[b].image}}" alt="{{ buildings[b]['image'] }}">
        </div>

        <h4 class="card card-header bg-light" style="height: 64px;">
            {{ buildings[b]['name'] }}
            <span class="lead">Poziom: {{ buildings[b]['level'] }}</span>
        </h4>

    </div>
{% endfor %}

{% endmacro %}