{% extends "index.html" %}
{% from "_create_building_card.html" import create_card %}
{% from "_create_building_card_lite.html" import create_card_lite %}
{% from "_create_message_card.html" import create_message %}


{% block title %} {{ colony.name }} {% endblock %}


{% block scripts %}
{{ super() }}

    <!-- Show collapse -->
    <script type="text/javascript" src="{{ url_for('.static', filename='js/automatic_collapse.js') }}"></script>
    

    {% if colony.build_now %}

        <!-- Dynamic progress bar-->
        <script type="text/javascript" src="{{ url_for('.static', filename='js/progress_bar.js') }}"></script>

        <!-- Time to end of build -->
        <script type="text/javascript" src="{{ url_for('.static', filename='js/timer.js') }}"></script>
        
    {% endif %}

{% endblock %}


{% block content %}
{{ super() }}

<div class="float-right p-2 bg-panel-transparent" id="panel">
    <div class="container text-center">

        <!-- Show values of main resources -->
        <div class="row">
            {% for r in colony.main_resources %}
                <div class="col mb-4" style="width: 128px;">
                    <div class="bg-light shadow rounded-lg">
                        <strong>{{ r.capitalize() }}:</strong><br>

                        {% if 0 >= colony.main_resources[r][0] or 0 > colony.main_resources[r][1] %}
                            {% set text_type = "text-danger" %}
                        {% elif 100 >= colony.main_resources[r][0] or colony.main_resources[r][1] == 0 %}
                            {% set text_type = "text-warning" %}
                        {% else %}
                            {% set text_type = "text-dark" %}
                        {% endif %}

                        <span class="{{ text_type }}">
                            {{ colony.main_resources[r][0] | round | int }} |
                    
                            {% if 0 > colony.main_resources['jedzenie'][0] %}
                                {{ colony.main_resources[r][1]/2 | round(1) }}/h
                            {% else %}
                                {{ colony.main_resources[r][1] | round(1) }}/h
                            {% endif %}
                        </span>
                    </div>

                    <!-- Amount production -->
                    {% if r in messages.production_main %}
                        <div class="collapse rounded-lg bg-light-transparent shadow-sm " id="collapse_production_{{ r }}">
                            {% if messages.production_main[r] > 0 %}
                                <span class="text-success">+{{ messages.production_main[r] | round(1) }}</span>
                            {% else %}
                                <span class="text-danger">{{ messages.production_main[r] | round(1) }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                    
            {% endfor %}
        </div>

        <div class="container">
        
            <!-- Hunger -->
            {% if messages.hunger %}
                <div class="container shadow-sm rounded-lg bg-danger-transparent border border-danger">
                    <span class="lead text-break">
                        Colonia cierpi na deficyt jedzenia (Produkcja zmniejszona o połowę)
                    </span>
                </div>
            {% endif %}

            <!-- Queue of build -->
            <div class="container py-4 mb-4">              
                {% for building in build_list %}
                    {% if building == build_list[0] %}
                        <div class="card text-left shadow p-2">

                            <!-- Name and level-->
                            <h5 class="card-title">
                                <strong>{{ colony.build_now[building]['name'] }}</strong>
                                <span class="float-right">Poziom: {{ colony.build_now[building]['level'] }}</span>
                            </h5>

                            <!-- Show progress-->
                            <div class="card-body p-0">

                                <!-- Variables -->
                                <div id="start_date" hidden>{{ colony.build_now[building]['build_start'] }}</div>
                                <div id="end_date" hidden>{{ colony.build_now[building]['build_end'] }}</div>
                                
                                <!-- Progress bar -->
                                <div class="progress my-2">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <!-- Cannel button -->
                                <form method="POST" action="/game/colonies/{{ colony.id }}/build">
                                    <input name="cannel" value="{{ building }}" hidden>
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Anuluj</button>

                                    <!-- Time to end of build -->
                                    <strong>Pozostało:</strong>
                                    <span id="time_last">00:00:00</span>

                                </form>

                            </div>
                        </div>
                    {% else %}
                        <div class="card text-left shadow-sm">
                            <div class="card-body p-2">
                                <form method="POST">
                                    <strong>{{ colony.build_now[building]['name'] }}</strong> Poziom: {{ colony.build_now[building]['level'] }}
                                    
                                    <!-- Cannel button -->
                                    <input name="cannel" value="{{ building }}" hidden>
                                    <button type="submit" class="btn btn-sm btn-outline-danger float-right">Anuluj</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- End of build -->
            {% if messages.build %}
                <div class="collapse shadow-sm bg-success-transparent rounded-lg border border-success mb-4" id="collapse_build">

                    <ul class="list-inline text-light">
                        <strong>Zakończono budowę:</strong><br>
                        {% for b in messages.build %}
                            <li>
                                {{ b.capitalize() }} na poziom {{ messages.build[b] }}
                            </li><br>
                        {% endfor %}
                    </ul>

                    <button class="btn btn-link btn-block text-secondary" data-toggle="collapse" data-target="#collapse_build">
                        Ukryj
                    </button>
                </div>
            {% endif %}

        </div>

    </div>
</div>

<div class="card">
    <div class="card-header">
         <ul class="nav nav-tabs card-header-tabs">
            {% for page in colony.pages.values() %}
                <li class="nav-item">
                    <a class="nav-link {% if page.active %} active {% endif %}" href="{{ page.href }}">{{ page.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
<!-- Not closed -->

{% endblock %}