{% extends "colony_base.html" %}

{% block content %}
{{ super() }}

<div class="card">
    <div class="card-header">
         <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link" href="/game">Powrót do listy kolonii</a></li>
            <li class="nav-item"><a class="nav-link active">Główne</a></li>
            <li class="nav-item"><a class="nav-link" href="/game/colonies/{{ colony.id }}/build">Budowanie</a></li>
            <li class="nav-item"><a class="nav-link" href="/game/colonies/{{ colony.id }}/production">Produkcja</a></li>
        </ul>
    </div>

    <div class="card-body row no-gutters">

        <!-- Buildings -->
        <div class="col">
            <div class="container pb-4">
                <h3 class="text-center">Budynki</h3>
                {{ create_card_lite(colony.buildings) }}
            </div>

            <div class="container pb-4">
                <h3 class="text-center">Armia</h3>
                
            </div>
            
        </div>

        <!-- Messages -->
        <div class="col border">
            <h3 class="text-center">Raporty</h3>

                {{ create_message(colony.rapports) }}

            
        </div>

    </div>
    
</div>

{% endblock %}