{% extends "colony_base.html" %}

{% block content %}
{{ super() }}

<div class="card">
    <div class="card-header">
         <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link" href="/game">Powrót do listy kolonii</a></li>
            <li class="nav-item"><a class="nav-link" href="/game/colonies/{{ colony.id }}">Główne</a></li>
            <li class="nav-item"><a class="nav-link active" href="/game/colonies/{{ colony.id }}/build">Budowanie</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="#">Produkcja</a></li>
        </ul>
    </div>

    <div class="row p-4">
        <div class="col border">Budynki{{ create_card(buildings) }}</div>
        <div class="col border">Produkcja</div>
    </div>
</div>

{% endblock %}