{% extends "index.html" %}
{% from "_render_field.html" import render_field %}

{% block title %} Strona główna {% endblock %}

{% block content %}
    <h1 class="display-1">Test</h1>

    <div class="containter p-4 m-4 border" style="width: 512px">
        <form method="POST" action="/home">
            <dl>
                <h1 class="display-4 text-center">Rejestracja</h3>
                {{ registerform.hidden_tag() }}
                {{ wtf.quick_form(registerform) }}
                <input class="btn btn-primary btn-block" type="submit" value="Zarejestruj">
            </dl>
        </form>
    </div>

    <div class="containter p-4 m-4 border" style="width: 512px">
        <form method="POST" action="/home">
            <dl>
                <h1 class="display-4 text-center">Login</h3>
                {{ loginform.hidden_tag() }}
                {{ wtf.quick_form(loginform) }}
                <input class="btn btn-primary btn-block" type="submit" value="Zaloguj">
            </dl>
        </form>
    </div>

    {% if user %}
    <div class="containter shadow mx-4 py-4 text-center" style="width: 512px">
        <p>Zalogowano jako: {{ user.nick }} | id: {{ user.id }}</p>
        <a href="/home?logout=True" class="btn btn-primary btn-block">Wyloguj</a>
    </div>
    {% endif %}
    
{% endblock %}