{% extends "index.html" %}
{% from "_render_field.html" import render_field %}

{% block title %} Strona główna {% endblock %}

{% block content %}
{{ super() }}

{% if not user %}
<div class="d-inline-flex">

    <!-- Login form -->
    <div class="align-self-start p-4 m-4 border" style="width: 512px">
        <form method="POST" action="/home">
            <dl>
                <h3 class="display-4 text-center">Logowanie</h3>
                {{ loginform.hidden_tag() }}
                {{ wtf.quick_form(loginform) }}
                <input class="btn btn-primary btn-block" type="submit" value="Zaloguj">
            </dl>
        </form>
    </div>

    <!-- Register form -->
    <div class="p-4 m-4 border" style="width: 512px">
        <form method="POST" action="/home">
            <dl>
                <h3 class="display-4 text-center">Rejestracja</h3>
                {{ registerform.hidden_tag() }}
                {{ wtf.quick_form(registerform) }}
                <input class="btn btn-primary btn-block" type="submit" value="Zarejestruj">
            </dl>
        </form>
    </div>

</div>
{% endif %}

{% endblock %}